<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style type="text/css">
  body {
    background-color: #151515;
    font-size:14px; 
    font-family:courier;
    color: white;
  }
</style>
 </head>
<body text="white">
    
    <form method="post" action="{% url 'submit' %}"> 
      {% csrf_token %}
    <input type="radio" name="which_choice" value="1" checked>Directory tree 
    <input type="radio" name="which_choice" value="2">HTML <br>
    <input type="text" name="Path" value=".">Path/File 
    <input type="submit" value="Submit">
    </form> 
    <!-- <div id="tree-container" style="color:blue; max-width:100%; margin:auto; align:right;"></div> -->
    <iframe id="encoder_iframe" height="600px" width="100%" src="{% url 'views' %}">
</iframe>
</body>
</html>